<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
              http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
              http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
			  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd"
    default-lazy-init="false">
    
    <!-- 载入  properties 配置文件${key}方式引用-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations">
    		<list>
    			<value>/WEB-INF/SystemConfig.properties</value>
    		</list>
        </property>
    </bean>
    
    <!-- data configure -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="${db.sql.driver}"/>
    	<property name="url" value="${db.sql.url}"/>
    	<property name="username" value="${db.sql.user}"/>
    	<property name="password" value="${db.sql.password}"/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>cfg/Admin.hbm.xml</value>
                <value>cfg/CommentReply.hbm.xml</value>
                <value>cfg/Customer.hbm.xml</value>
                <value>cfg/News.hbm.xml</value>
                <value>cfg/NewType.hbm.xml</value>
                <value>cfg/Predetemine.hbm.xml</value>
                <value>cfg/PredetermineCommend.hbm.xml</value>
                <value>cfg/Registration.hbm.xml</value>
                <value>cfg/Role.hbm.xml</value>
                <value>cfg/Room.hbm.xml</value>
                <value>cfg/RoomCount.hbm.xml</value>
                <value>cfg/RoomType.hbm.xml</value>
                <value>cfg/RoomTypeImage.hbm.xml</value>
                <value>cfg/Setting.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
            	<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
				<prop key="hibernate.dialect">${db.sql.dialect}</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				<prop key="hibernate.show_sql">true</prop>
			     <!--  <prop key="hibernate.hbm2ddl.auto">update</prop>-->
   				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">50</prop>
				<prop key="hibernate.use_outer_join">false</prop>
				<prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>
    
    <bean id="transactionManager"
            class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <aop:config>
        <aop:pointcut id="serviceMethods"
                expression="execution(* com.hms.service.*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
			<tx:method name="update*" rollback-for="Exception" propagation="REQUIRED"/>
			<tx:method name="save*" rollback-for="Exception" propagation="REQUIRED"/>
			<tx:method name="create*" rollback-for="Exception" propagation="REQUIRED"/>
			<tx:method name="delete*" rollback-for="Exception" propagation="REQUIRED"/>
			<tx:method name="load*" rollback-for="Exception" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


	  
</beans>